:root {
  --black: black;
  --white: white;
  --red: red;
  --orange: orange;
  --yellow: yellow;
  --lime: lime;
  --green: green;
  --lightblue: lightblue;
  --blue: blue;
  --violet: violet;
  --brown: brown;
  --gray: gray;
}

.dark-mode {
  background-color: #111111;
  color: white;

  button {
    background-color: #111111;
    color: white;
  }

  /* text */

  .text-white {
    color: var(--white);
  }

  .text-black {
    color: var(--black);
  }

  .text-red {
    color: var(--red);
  }

  .text-orange {
    color: var(--orange);
  }

  .text-yellow {
    color: var(--yellow);
  }

  .text-lime {
    color: var(--lime);
  }

  .text-green {
    color: var(--green);
  }

  .text-lightblue {
    color: var(--lightblue);
  }

  .text-blue {
    color: var(--blue);
  }

  .text-violet {
    color: var(--violet);
  }

  .text-brown {
    color: var(--brown);
  }

  .text-gray {
    color: var(--gray);
  }

  /* background */

  .bg-white {
    background-color: var(--light);
  }

  .bg-black {
    background-color: var(--dark);
  }

  .bg-red {
    background-color: var(--red);
  }

  .bg-orange {
    background-color: var(--orange);
  }

  .bg-yellow {
    background-color: var(--yellow);
  }

  .bg-lime {
    background-color: var(--lime);
  }

  .bg-green {
    background-color: var(--green);
  }

  .bg-lightblue {
    background-color: var(--lightblue);
  }

  .bg-blue {
    background-color: var(--blue);
  }

  .bg-violet {
    background-color: var(--violet);
  }

  .bg-brown {
    background-color: var(--brown);
  }

  .bg-gray {
    background-color: var(--gray);
  }
}

* {
  transition: background-color 0.15s ease, color 0.1s ease;
}

/* text */

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-red {
  color: var(--red);
}

.text-orange {
  color: var(--orange);
}

.text-yellow {
  color: var(--yellow);
}

.text-lime {
  color: var(--lime);
}

.text-green {
  color: var(--green);
}

.text-lightblue {
  color: var(--lightblue);
}

.text-blue {
  color: var(--blue);
}

.text-violet {
  color: var(--violet);
}

.text-brown {
  color: var(--brown);
}

.text-gray {
  color: var(--gray);
}

/* background */

.bg-white {
  background-color: var(--light);
}

.bg-black {
  background-color: var(--dark);
}

.bg-red {
  background-color: var(--red);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-lime {
  background-color: var(--lime);
}

.bg-green {
  background-color: var(--green);
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-violet {
  background-color: var(--violet);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-gray {
  background-color: var(--gray);
}
